<Sidebar.sidebar current_user={@current_user} />

<main class="p-4 sm:ml-64">
  <.flash_group flash={@flash} />
  <div class="mr-auto ml-auto md:max-w-7xl">
    <%= if function_exported?(@socket.view, :header, 1) do %>
      <%= @socket.view.header(assigns) %>
    <% end %>

    <%= @inner_content %>
  </div>
</main>
