@import "@tabler/core";
.only-child:only-child {
  display: block !important;
}
/* file upload button */
input[type="file"]::file-selector-button {
  border-radius: 4px;
  padding: 0 16px;
  height: 40px;
  cursor: pointer;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.16);
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);

  margin-right: 16px;
  transition: background-color 200ms;
}
input[type=file] {
      color: transparent !important;
  }
/*input[type=file]::before {*/
/*    content: "Attach Your CV: ";*/
/*    color: black;*/
/*    margin-right: 10px; */
/*}/* file upload button hover state */*/
input[type="file"]::file-selector-button:hover {
  background-color: #f3f4f6;
}

/* file upload button active state */
input[type="file"]::file-selector-button:active {
  background-color: #e5e7eb;
}

/*@import "tailwindcss/base";*/
/*@import "tailwindcss/components";*/
/*@import "tailwindcss/utilities";*/
/**/
/* :root {
  [type="text"]:focus,
  [type="email"]:focus,
  [type="url"]:focus,
  [type="password"]:focus,
  [type="number"]:focus,
  [type="date"]:focus,
  [type="datetime-local"]:focus,
  [type="month"]:focus,
  [type="search"]:focus,
  [type="tel"]:focus,
  [type="checkbox"]:focus,
  [type="radio"]:focus,
  [type="time"]:focus,
  [type="week"]:focus,
  [multiple]:focus,
  textarea:focus,
  select:focus {
    --tw-ring-color: var(--ring);
    border-color: var(--ring);
  }
} */
