<div class="flex justify-end gap-10 py-4">
  <div class="md:max-w-xl">
    <div class="flex-none">
      <.link navigate={~p"/monitors/new"}>
        <.button>
          <%= dgettext("monitors", "New monitor") %>
        </.button>
      </.link>
    </div>
  </div>
</div>

<div id="monitors" phx-update="stream" class="flex w-full flex-col">
  <MonitorComponent.render :for={{id, monitor} <- @streams.monitors} id={id} monitor={monitor} />
</div>
